{% extends "global/Page.html" %}
{% load otree %}
{% block title %}
    <div> Tarea de conteo - ronda 3</div>
{% endblock %}

{% block content %}
    <div class="otreetimernew">
        <h3>Tiempo que le falta para completar la ronda: 
            <span style="color:green; font-weight: bold">
                <span class="otree-timer__time-left"></span>
            </span>
        </h3>
    </div>
    <br /><br /><br />
    <p style="text-align:center;">Escriba en el recuadro la cantidad de ceros que hay en la siguiente matriz:</p>
    <br>
    <div class="task-container">
        <div style="font-size:1.5em">{{ row1 |safe }}</div>
        <div style="font-size:1.5em">{{ row2 |safe }}</div>
        <div style="font-size:1.5em">{{ row3 |safe }}</div>
        <div style="font-size:1.5em">{{ row4 |safe }}</div>
        <div style="font-size:1.5em">{{ row5 |safe }}</div>
        <div style="font-size:1.5em">{{ row6 |safe }}</div>
        <div style="font-size:1.5em">{{ row7 |safe }}</div>
        <div style="font-size:1.5em">{{ row8 |safe }}</div>
        <div style="font-size:1.5em">{{ row9 |safe }}</div>
        <div style="font-size:1.5em">{{ row10 |safe }}</div>
    </div>
    <br />
    <div style="text-align:center;">
    <p style="text-align:center;"><b>Tu respuesta:</b></p>
        <input style="margin:auto;" class="form-control" type="number" name="answer_R3">
    <br />
    <br />
    {% next_button %}
    </div>
    {% if form.answer_R3.errors %}{{ form.answer_R3.errors.0 }}{% endif %}

{% endblock %}

{% block styles %}
<style>
.task-container {
    width: 25%;
    border: solid;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    }

    .otreetimernew {
        text-align:right;
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        }

    .otree-timer {
            display: none;
        }

</style>
{% endblock %}